html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  color: #111;
  background: #fff;
}

.section-title {
  margin-bottom: 3rem;
}

.section-title span {
  display: block;

  margin-bottom: 0.5rem;

  color: #999;

  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.2rem;

  text-transform: uppercase;
}

.section-title h2 {
  margin: 0;

  font-size: clamp(2rem, 4vw, 3rem);
}

.about,
.areas,
.publications {
  max-width: 75rem;
  margin: 0 auto;
  padding: 7rem 2.5rem;
}
